<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Limit</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../scripts/main.js" defer></script>
    <link rel="icon" href="../assets/icon/icon.png">
</head>
<body>
    <div class="container">
        <div class="square">
            <textarea id="input" placeholder="Escriba aquí" autocomplete="off"></textarea>
            <div class="characters">
                <p id="currentChar">00</p><p>/</p><p id="maxChar">00</p>
            </div>
        </div>
    </div>
</body>
</html>